.signup-container {
  width: 300px;
  box-shadow: 0 0 10px coral;
  padding: 30px;
  margin: 50px auto;
}
.signup-container div {
  margin-bottom: 20px;
}

.main-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.signup-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-container h2 {
  text-align: center;
  color: green;
  margin-bottom: 20px;
}

.signup-container form div {
  margin-bottom: 15px;
}

.signup-container input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.signup-container input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #4caf50;
}

.signup-container input[type="radio"] {
  margin-right: 5px;
}

.signup-container input[type="button"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-container input[type="button"]:hover {
  background-color: #45a049;
}

.signup-container div label {
  font-size: 14px;
  margin-right: 15px;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.error-message h2 {
  color: red;
  font-size: 24px;
}
