.sidebar {
  background-color: rgb(13, 11, 11);
  padding: 0px 20px;
  border-right: 2px solid rgba(23, 45, 23, 0.9);
  display: grid;

  grid-template-rows: 15% 85%;
  overflow-y: auto;
  scrollbar-width: thin;
}
